.drawer {
  height: 100%;
  width: 320px;
  position: fixed;
  overflow-y: auto;
  transition: all 0.6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2;
  background-color: var(--white);
  transform: translateX(-285px);
}

.drawer.is-open {
  transform: translateX(0px);
}
.drawer.is-light {
  background-color: var(--white);
}

.drawer.is-dark {
  background-color: var(--dark);
}
