.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(80px, auto);
  padding: 20px 0;
}

.grid-item > label {
  display: block;
  font-weight: 500;
  font-size: 14px;
}

.grid-item > input,
button {
  margin-top: 4px;
}
